.carousel-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 576px) {
    .carousel-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .carousel-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .carousel-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}