<div class="container">
    <div class="logo-container">
        <a class="navbar-brand" routerLink="/home"><img class="image" src="../../assets/images/erasmus.png"
                alt="Your image description"></a>
    </div>
</div>

<div class="container-fluid py-4 mb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Erasmus+</h1>
                <hr>
                <p>EU programme for education, training, youth and sport</p>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg nav-dark mt-0">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Erasmus+ Program
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/team">Our Team</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/ka1">KA1 Projects</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/cbhe">CBHE Projects</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/annonce">Erasmus+ Annoucements</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/upcoming">Upcoming Events</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/university">University Life</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tourist">Touristic Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>