<div class="logo-container" [class.hidden]="topBarHidden">
  <a class="navbar-brand" routerLink="/home"
    ><img
      class="image"
      src="../../assets/images/erasmus.png"
      alt="Your image description"
  /></a>
</div>

<div class="container-fluid py-4 mb-0" [hidden]="topBarHidden">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Erasmus+</h1>
        <p>EU programme for education, training, youth and sport</p>
      </div>
    </div>
  </div>
</div>

<nav [className]="topBarHidden ? 'nav-sticky' : ''">
  <ul>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="nav-link-active" routerLink="/home"
        >Home</a
      >
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Erasmus+ Program
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/team">Our Team</a></li>
        <li></li>
        <li><a class="dropdown-item" routerLink="/ka1">KA1 Projects</a></li>
        <li></li>
        <li>
          <a class="dropdown-item" routerLink="/cbhe">CBHE Projects</a>
        </li>
        <li></li>
        <li>
          <a class="dropdown-item" routerLink="/annonce"
            >Erasmus+ Annoucements</a
          >
        </li>
        <li></li>
        <li>
          <a class="dropdown-item" routerLink="/upcoming">Upcoming Events</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="nav-link-active"
        routerLink="/university"
        >University Life</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="nav-link-active"
        routerLink="/tourist"
        >Touristic Places</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="nav-link-active"
        routerLink="/contact"
        >Contact</a
      >
    </li>
  </ul>
</nav>
<router-outlet
  [className]="topBarHidden ? 'router-outlet-sticky' : ''"
></router-outlet>
