/* login.component.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 12px 0;
    background-color: #dd0031;
    background-image: linear-gradient(to bottom, #dd0031, #c8002a);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 400px;
}

button:hover {
    background-color: #c8002a;
}


.button-group {
    margin-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-group button {
    width: 100%;
}