<div class="container">
  <section class="mission-section">
    <H1 class="section-title">Our Mission</H1>
    <div class="mission-art-div">
      <article class="mission-art">
        <img src="../../assets/images/tdt_13062022_erasmus_tipps-und-hilfen.jpg" alt="" />

        <div class="text-container">
          <h2>Who Are We?</h2>
          <span>Erasmus+, or Erasmus Plus, is the new programme combining all the
            EU's current schemes for education, training, youth and sport, which
            was started in January 2014.</span>
        </div>
      </article>
      <article class="mission-art">
        <div class="text-container">
          <h2>What Are Our Goals?</h2>
          <span>
            Promote learning mobility of sport staff, as well as cooperation,
            quality, inclusion, creativity and innovation at the level of sport
            organisations and sport policies.</span>
        </div>
        <img src="../../assets/images/thumb-student-charter.png" alt="" />
      </article>
    </div>
  </section>
  <section class="projects-section">
    <H1 class="section-title">Latest Projects</H1>
    <div class="section-card" *ngFor="let project of projects">
      <h3 class="card-title">{{project.title}}</h3>
      <span class="card-content">{{project.content}}</span>
    </div>
  </section>
  <section class="projects-section">
    <H1 class="section-title">Latest Events</H1>
    <div class="section-card" *ngFor="let event of events">
      <h3 class="card-title">{{event.title}}</h3>
      <span class="card-content">{{event.info}}</span>
    </div>
  </section>
</div>