<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          &copy; European Union, 2023. This site is managed by the Education,
          Audiovisual and Culture Executive Agency (EACEA). The content of this
          website does not represent the opinion of the European Union, and the
          European Union is not responsible for any use that might be made of
          the information contained herein.
        </p>
      </div>
      <div class="col-md-3">
        <h3>Contact</h3>
        <ul class="footer-links">
          <li>
            <i class="fa fa-map-marker"></i> Avenue du Bourget 1 (BOUR 01/18B),
            B-1140 Brussels, Belgium
          </li>
          <li><i class="fa fa-phone"></i> +32 2 299 11 11</li>
          <li><i class="fa fa-fax"></i> +32 2 299 12 12</li>
          <li><i class="fa fa-envelope"></i> eacea-info@ec.europa.eu</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Follow us</h3>
        <ul class="footer-links">
          <li>
            <a target="_blank" href="https://twitter.com/EUErasmusPlus"
              ><i class="fa fa-twitter"></i> Twitter</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.facebook.com/EUErasmusPlusProgramme/"
              ><i class="fa fa-facebook"></i> Facebook</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/EUErasmusPlusProgramme/"
              ><i class="fa fa-instagram"></i> Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Privacy Policy | Legal Notice | Accessibility Statement</p>
        </div>
      </div>
    </div>
  </div>
</footer>
